body{
    background-color:rgb(27, 26, 26);
    color: white;
}
h1{
text-align: center;
font-weight:bolder;
}
table ,td ,th{
border: 1px solid white;
margin: auto;
width: 1000px;
height: 50px;
text-align: center;
font-size: large;
border-collapse: collapse;
}
#a1{
    background-color: yellow;
}
#a2{
    background-color: red;
}
#a3{
    background-color: aqua;
}
#a4{
    background-color: white;
    color: black;
}
.a{
    font-size:xx-large;
color: yellow;
}
.b{
    font-size: xx-large;
    color: red;
}
.c{
    font-size: xx-large;
    color: aqua;
}
.main{
    background-color: red;
    color: white;
border-radius: 20px;
padding: 10px;
}
img{
width: 50px;
mix-blend-mode:multiply;
}